*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 10px 0px 0px 10px;
    background-color: white;
    margin-bottom: 20px;
}

h1{
    font-size: 50px;
    display: inline;
}

body{
    background-color: rgb(218, 213, 213);
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    width: 75%;
    background-color: white;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.square-blue{
    width: 120px;
    padding: 10px;
    background-color: deepskyblue;
    display: inline;
    color: white;
    margin-left: 30px;
    border-radius: 10px;

}

.square-white{
    width: 120px;
    height: 100px;
    color: grey;
    background-color: white;
    display: inline;
    margin-left: 20px;
    border-radius: 10px;
}

.container-task{
    width: 75%;
    background-color: white;

}

.subcontainer{
    margin-left: 100px;
    padding: 20px;
    margin-top: 10px;
    
}

.block-blue{
    padding: 10px;
    background-color: deepskyblue;
    display: inline;
    color: white;
    margin-left: 30px;
    border-radius: 10px;

}


li{
    padding: 20px;
}

ul {
    list-style-type: none;
  }


.check::before {
    content: "\2713";
    color: lightgreen;
    padding: 0 3px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    margin-right: 5px;
}